.button-container button {
	margin-right: 30px;
}


/* .ant-checkbox-checked .ant-checkbox-inner{
    background-color: #3bac99;
    border-color: #3bac99;
}

 .ant-radio-checked .ant-radio-inner::after {
  background-color: #3bac99 ;
 } */